@inherits ListExtBase

@if (ListExtViewModel?.ListItems != null)
{

    @if (!HideHeader)
    {
        <div class="row">
            <div class="col-10">
                <button @onclick="Sort" class="btn @ClassBtnPressed(ListExtViewModel.IsSortByName)" title="@SortTitle"><span class="oi oi-sort-ascending" /> </button>
                <button @onclick="Filter" class="btn @ClassBtnPressed(ListExtViewModel.IsFiltered)" title="@FilterTitle"><span class="oi oi-beaker" /> </button>
                @if (!ListExtViewModel.IsSortByName)
                {
                    <button @onclick="Up" class="btn btn-info" title="Nach oben"><span class="oi oi-arrow-top" /> </button>
                    <button @onclick="Down" class="btn btn-info" title="Nach unten"><span class="oi oi-arrow-bottom" /> </button>
                }
                @HeaderButtons
            </div>
            <div class="col-2">
                <button @onclick="ToggleDeleteButtons" class="btn @ClassBtnPressed(IsDeleteMode)" title="Löschen"><span class="oi oi-trash" /> </button>
            </div>
        </div>
        <hr />
        <form @onsubmit="AddItem">
            <div class="row">
                <div class="form-group col-10">
                    <input @ref="editNameRef" @bind="newItem" class="form-control" placeholder="@NewItemText" />
                </div>
                <div class="form-group col-2">
                    <button type="submit" class="btn btn-primary" title="Hinzufügen"><span class="oi oi-plus" /></button>
                    <button class="btn btn-warning" @onclick="AddFolder" title="Ordner hinzufügen"><span class="oi oi-folder" /></button>
                </div>
            </div>
        </form>
    }

    <ul class="list-group">
        <ListExtItems Items="GetListe()"
                     ListExtViewModel="ListExtViewModel"
                     ShowIsDoneButton="ShowIsDoneButton"
                     IsMultiSelect="IsMultiSelect"
                     IsBoldText="IsBoldText"
                     IsDeleteMode="IsDeleteMode" />


    </ul>

}
else
{
    <p><em>Loading...</em></p>
}


