@inherits ListeBase

@if (Liste == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div>
        @if (CurrentItem != null)
        {
            <button @onclick="DeleteEinkauf" class="btn btn-info" title="Delete Item @CurrentItem?.Name"><span class="oi oi-minus" /> </button>
        }
        <button @onclick="Sort" class="btn @GetSortClass()" title="@GetSortTitle()"><span class="oi oi-sort-ascending" /> </button>
    </div>
    <hr/>

    <form @onsubmit="AddEinkauf">
        <div class="form-row">
            <div class="form-group col-md-2 col-6">
                <input @bind="newEinkauf" class="form-control" placeholder="Was willst du einkaufen ?" />
            </div>
            <div class="form-group col-md-1 col-2">
                <button type="submit" class="btn btn-primary" title="Hinzufügen"><span class="oi oi-plus" /></button>
            </div>
        </div>
    </form>

    <ul class="list-group">

        @foreach (var einkauf in Liste)
        {
            <li class="list-group-item">
                <div @onclick="@(() => ToggleIsDone(einkauf))">
                    <span class="@Erledigt(einkauf)">
                        @einkauf.Name
                    </span>
                </div>
            </li>
        }
    </ul>
}

